body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
}

header {
  padding: 0 60px 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: white;
  h1 {
    margin: 0;
    font-size: 24px;
  }
  button {
    background: none;
    border: none;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    #themeModeIcon {
      padding-right: 5px;
    }
  }
}

main {
  background-color: rgb(243, 243, 243);
  padding: 30px 60px 0 60px;
  article {
    display: flex;
    justify-content: space-between;
    .search {
      height: 40px;
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 380px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      #searchInput {
        width: 95%;
        height: 100%;
        border: none;
        box-sizing: border-box;
        outline: none;
      }
    }
    .select {
      display: flex;
      height: 40px;
      width: 160px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding-left: 10px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      #selectRegion {
        width: 150px;
        border: none;
        outline: none;
      }
    }
  }
  #countriesField {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 70px;
    .countryDiv {
      height: 350px;
      width: 100%;
      border-radius: 7px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      .countryFlagDiv {
        height: 150px;
        .countryFlag {
          height: 150px;
          width: 100%;
        }
      }
      .countryName {
        font-weight: bold;
        margin: 10px 25px 20px 25px;
      }
      .countryCapital,
      .countryRegion,
      .countryPopulation {
        margin: 0 25px 5px 25px;
        font-size: 16px;
      }
      .countryCapitalValue,
      .countryRegionValue,
      .countryPopulationValue {
        font-size: 14px;
      }
    }
  }
}
